<!-- facemask landing product section -->

{% comment %}Landing page title {% endcomment %}
{%- unless section.settings.landing_page_title == blank -%}
<h1 class="page_title dacing-font">{{ section.settings.landing_page_title }}</h1>
{%- endunless -%}


{% comment %} landing page navigation {% endcomment %}

{%- assign nav_handle = section.settings.landing_page_collection_navbar | default: 'landing-nav' -%}
{%- assign nav_menu = linklists[nav_handle] -%}


<nav role="navigation" class="landing_page_navigation">
  <ul class="landing_navigation_ul scroller__inner">
    {% assign default_color_code = "#fff" %}
    {%- for link in nav_menu.links -%}
    {% assign link_title = link.title | split: '_' | last %}
    {% assign color_value = link_title | split : ':' | last %}
    {% assign linkTitle = link.title | split: '_' | first %}
    <li style="background: {{ color_value }};" class="landing_navigation_li">
      <a class="landing_navigation_anchor" tabindex="0" href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %} style="{% if color_value contains "#" %}color:{{ default_color_code }};{% endif %}">
        {{ linkTitle }}
      </a>

    </li>
    {%- endfor -%}
  </ul>
</nav>

{% comment %} landing page product section {% endcomment %}

{% comment %} landing page product top section {% endcomment %}
<div class="landing_product_block">
  <div class="container">
    <div class="flex_view_xs">
      {%- for block in section.blocks -%}

      {%- if block.type == 'top-product-or-coll' -%}

      {%- if block.settings.product_block_type_top == 'product' -%}

      {%- assign product_var = block.settings.product_top -%}
      {%- assign p_default_img = block.settings.default_r_img-%}
      {% assign product_data = all_products[product_var] %}
      <div class="1/3--tablet-and-up 1/6--desk 1/2--phone">
        <div class="product_card product_wrap">
         {% if p_default_img != blank %}
         <a href="{{ product_data.url }}">
          <div class="img p_img">
           {%- assign preload_src = true -%}
           {%- assign src_name =p_default_img -%}
           {%- assign src_alt = p_default_img.title | escape  -%}
           {% render 'srcset',src_name:src_name,src_alt:src_alt,preload_src:false %}
         </div>
         </a>
        <div class="product_title">
          {% if block.settings.product_title != blank %}
          <h5>{{ block.settings.product_title }}</h5>
          {% else %}
          <h5>{{ product_data.title }}</h5>
          {% endif %}
        </div>
        {% else %}
        <a href="{{ product_data.url }}" title="{{ product_data.title }}" tabindex="0">
          <div class="img">
            {% unless product_data.featured_image == blank %}
            {%- assign preload_src = true -%}
            {%- assign src_name = product_data.featured_image -%}
            {%- assign src_alt = product_data.title | escape  -%}
            {% render 'srcset',src_name:src_name,src_alt:src_alt,preload_src:false %}
            {% endunless %}
          </div>
          <div class="product_title">
            {% if block.settings.product_title != blank %}
            <h5>{{ block.settings.product_title }}</h5>
            {% else %}
            <h5>{{ product_data.title }}</h5>
            {% endif %}

          </div>
        </a>
        {% endif %}
      </div>
    </div>


      {%- elsif block.settings.product_block_type_top == 'collection' -%}

      {%- assign collection_var = block.settings.collection_top -%}
      {%- assign p_default_img = block.settings.default_r_img-%}
      {% assign collection_data = collections[collection_var] %}
      <div class="1/3--tablet-and-up 1/6--desk 1/2--phone">
        <div class="product_card collection_wrap">
          {% if p_default_img != blank %}
          <div class="img p_img">
           <a href="{{ collection_data.url }}">
            {%- assign preload_src = true -%}
            {%- assign src_name =p_default_img -%}
            {%- assign src_alt = p_default_img.title | escape  -%}
            {% render 'srcset',src_name:src_name,src_alt:src_alt,preload_src:false %}
           </a>
          </div>
          <div class="product_title">
            {% if block.settings.product_title != blank %}
            <h5>{{ block.settings.product_title }}</h5>
            {% else %}
            <h5>{{ product_data.title }}</h5>
            {% endif %}
          </div>
          {% else %}
          <a class="collection_block" href="{{ collection_data.url }} " title="{{ collection_data.title }}" tabindex="0">
            <div class="img">
              {% unless collection_data.image == blank %}
              {%- assign preload_src = true -%}
              {%- assign src_name = collection_data.image -%}
              {%- assign src_alt = collection_data.title | escape  -%}
              {% render 'srcset',src_name:src_name,src_alt:src_alt,preload_src:false %}
              {% endunless %}
            </div>
            <div class="product_title">
              {% if block.settings.collection_title != blank %}
                <h5>{{ block.settings.collection_title }}</h5>
              {% else %}
                <h5>{{ collection_data.title }}</h5>
              {% endif %}
            </div>
          </a>
          {% endif %}
        </div>
      </div>


      {%- endif -%}

      {%- endif -%}

      {% endfor %}
    </div>
  </div>
</div>

{% comment %} landing page product section {% endcomment %}
{% if section.settings.show_landing_image_section  and section.settings.image_and_text_section_heading != blank %}
{% render 'landing-page-image-and-text' %}
{% endif %}


{% comment %} landing page product bottom section {% endcomment %}
<div class="landing_product_block">
  <div class="container">
    <div class="flex_view_xs">
      {%- for block in section.blocks -%}
      
      {%- if block.type == 'bottom-product-or-coll' -%}

      {%- if block.settings.product_block_type_bottom == 'product' -%}

      {%- assign bottom_product_var = block.settings.product_bottom -%}
      {%- assign p_bottom_img = block.settings.bottom_img -%}
      {% assign bottom_prod_data = all_products[bottom_product_var] %}
      <div class="1/3--tablet-and-up 1/6--desk 1/2--phone">
        <div class="product_card product_wrap">
          {% if p_bottom_img != blank %}
          <a href="{{ bottom_prod_data.url }}">
            <div class="img p_img">
              {%- assign preload_src = true -%}
              {%- assign src_name = p_bottom_img -%}
              {%- assign src_alt = p_bottom_img.title | escape  -%}
              {% render 'srcset',src_name:src_name,src_alt:src_alt,preload_src:false %}
            </div>
          </a>
          <div class="product_title">
            {% if block.settings.product_title != blank %}
            <h5>{{ block.settings.product_title }}</h5>
            {% else %}
            <h5>{{ bottom_prod_data.title }}</h5>
            {% endif %}
          </div>
          {% else %}
          <a href="{{ bottom_prod_data.url }}" title="{{ bottom_prod_data.title }}" tabindex="0">
            <div class="img">
              {% unless bottom_prod_data.featured_image == blank %}
              {%- assign preload_src = true -%}
              {%- assign src_name = bottom_prod_data.featured_image -%}
              {%- assign src_alt = bottom_prod_data.title | escape  -%}
              {% render 'srcset',src_name:src_name,src_alt:src_alt,preload_src:false %}
              {% endunless %}
            </div>
            <div class="product_title">
              {% if block.settings.product_title != blank %}
                <h5>{{ block.settings.product_title }}</h5>
              {% else %}
                <h5>{{ bottom_prod_data.title }}</h5>
              {% endif %}
            </div>
          </a>
          {% endif %}
        </div>
      </div>


      {%- elsif block.settings.product_block_type_bottom == 'collection' -%}

      {%- assign bottom_collection_var = block.settings.collection_bottom -%}
      {%- assign p_bottom_img = block.settings.bottom_img -%}
      {% assign bottom_coll_data = collections[bottom_collection_var] %}
      <div class="1/3--tablet-and-up 1/6--desk 1/2--phone">
        <div class="product_card collection_wrap">
          {% if p_bottom_img != blank %}
          <div class="img p_img">
            <a href="{{ bottom_coll_data.url }}">
              {%- assign preload_src = true -%}
              {%- assign src_name = p_bottom_img -%}
              {%- assign src_alt = p_bottom_img.title | escape  -%}
              {% render 'srcset',src_name:src_name,src_alt:src_alt,preload_src:false %}
            </a>
          </div>
          <div class="product_title">
            {% if block.settings.product_title != blank %}
            <h5>{{ block.settings.product_title }}</h5>
            {% else %}
            <h5>{{ bottom_prod_data.title }}</h5>
            {% endif %}
          </div>
          {% else %}
          <a class="collection_block" href="{{ bottom_coll_data.url }} " title="{{ bottom_coll_data.title }}" tabindex="0">
            <div class="img">
              {% unless bottom_coll_data.image == blank %}
              {%- assign preload_src = true -%}
              {%- assign src_name = bottom_coll_data.image -%}
              {%- assign src_alt = bottom_coll_data.title | escape  -%}
              {% render 'srcset',src_name:src_name,src_alt:src_alt,preload_src:false %}
              {% endunless %}
            </div>
            <div class="product_title">
              {% if block.settings.collection_title != blank %}
                <h5>{{ block.settings.collection_title }}</h5>
              {% else %}
                <h5>{{ bottom_coll_data.title }}</h5>
              {% endif %}
            </div>
          </a>
          {% endif %}
        </div>
      </div>


      {%- endif -%}
      
      {%- endif -%}
      
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Landing page product/coll",
  "max_blocks": 26,
  "settings": [
  {
    "type": "text",
    "id": "landing_page_title",
    "label": "Page title"
  },
  {
    "type": "link_list",
    "id": "landing_page_collection_navbar",
    "label": "Landing page collection navbar"
  },
  {
    "type": "header",
    "content": "Landing page image and text"
  },
  {
    "type": "checkbox",
    "id": "show_landing_image_section",
    "label": "Enable landing page image section",
    "default": false
  },
  {
    "type": "color",
    "id": "image_and_text_bg_color",
    "label": "Background color",
    "default": "#efefef"
  },
  {
    "type": "text",
    "id": "image_and_text_section_heading",
    "label": "Heading"
  },
  {
    "type": "textarea",
    "id": "image_and_text_section_content",
    "label": "Content"
  },
  {
    "type": "url",
    "id": "image_and_text_section_button_url",
    "label": "Button url"
  },
  {
    "type": "text",
    "id": "image_and_text_section_button_text",
    "label": "Button text"
  },
  {
    "type": "image_picker",
    "id": "image_and_text_section_button_image",
    "label": "Image"
  }
  ],
  "blocks": [
  {
    "type": "top-product-or-coll",
    "name": "Top product or coll ",
    "settings": [
    {
      "type": "select",
      "id": "product_block_type_top",
      "label": "Product or collection",
      "options": [
      {
        "value": "product",
        "label": "Product"
      },
      {
        "value": "collection",
        "label": "Collection"
      }
      ]
    },
    {
      "type":"image_picker",
      "id"  : "default_r_img",
      "label" : "Default rayon product image"
    },
    {
      "type":"product",
      "id" : "product_top",
      "label" : "Product"
    },
    {
      "type":"text",
      "id" : "product_title",
      "label" : "Product title"
    },
    {
      "type":"collection",
      "id" : "collection_top",
      "label" : "Collection"
    },
    {
      "type":"text",
      "id" : "collection_title",
      "label" : "Collection title"
    }
    ]
  },
  {
    "type": "bottom-product-or-coll",
    "name": "Bottom product or coll",
    "settings": [
    {
      "type": "select",
      "id": "product_block_type_bottom",
      "label": "Product or collection",
      "options": [
      {
        "value": "product",
        "label": "Product"
      },
      {
        "value": "collection",
        "label": "Collection"
      }
      ]
    },
    {
      "type":"image_picker",
      "id"  : "bottom_img",
      "label" : "Default product image"
    },
    {
      "type":"product",
      "id" : "product_bottom",
      "label" : "Product"
    },
    {
      "type":"text",
      "id" : "product_title",
      "label" : "Product title"
    },
    {
      "type":"collection",
      "id" : "collection_bottom",
      "label" : "Collection"
    },
    {
      "type":"text",
      "id" : "collection_title",
      "label" : "Collection title"
    }
    ]
  }
  ]
}
{% endschema %}