<!-- snippest/here-are-some-matches-product -->
{% assign collection = collections.all %}
{%- assign tabbed_one = false -%}
{%- assign tabbed_second = false -%}
{%- assign tabbed_third = false -%}
{% for product in collections.all.products %}
  {%- for product_tags in product.tags -%}
    {%- if product_tags contains 'usage_Skirt' -%}
      {%- assign tabbed_one = true -%}
    {%- endif -%}
    {%- if product_tags contains 'usage_Kurta' -%}  
      {%- assign tabbed_second = true -%}
    {%- endif -%}
    {%- if product_tags contains 'usage_Kurti' -%}  
      {%- assign tabbed_third = true -%}
    {%- endif -%}
  {% endfor %}
{% endfor %}
<div class="here-are-some-matches-product-wrapper" id="here-are-some-matches-product-wrapper">
  <h4 class="block-heading">
    Here are some matches
  </h4>
  <div class="item-block-wrapper">
    <div class="img">
      {%- if product.featured_image.src != blank -%}
        <img alt="{{ product.title }}" src="{{ product.featured_image.src | img_url: 'medium'}}" />
      {%- endif -%}
    </div>
    <div class="product-info-wrapper">
      <span class="product-title-wrap bebas-nue">{{ product.title | escape }}</span>
      {% if material_found %} 
      <span class="product-generic-wrap bebas-nue">{{ 'product.general.material' | t }} <span class="product-generic bebas-nue">{{material_tag}}</span></span>
      {% endif %}
      <span class="alert-success-msg bebas-nue">{{ section.settings.alert_success_msg }}</span>
    </div>
  </div>
  {%- comment -%} :: some-matches-product-items :: {%- endcomment -%}
  {%- include 'some-matches-product-items' -%}
  {%- comment -%} :: some-matches-product-items :: {%- endcomment -%}
  <div class="checkout-price-wrapper">
    <div class="price-wrap">
      <div class="total-price-wrap">Total : <span class="order-price">Rs. 713.00</span></div>
      <div class="cart-count-wrap">Cart Item : <span class="cart-count">1</span></div>
    </div>
    <div class="checkout-button">
      <form method="post" action="/cart" novalidate="novalidate" data-item-count="200" class="checkout-button-bottom">
        <button type="submit" name="checkout" class="cart-recap__checkout button button--primary button--full button--large">Checkout</button>
      </form>
      {%- comment -%}<button type="button" class="button button--primary">
        Checkout
      </button>{%- endcomment -%}
    </div>
  </div>
</div>