{%- assign selected_variant = product.selected_or_first_available_variant -%}
{% assign selectedvariantavailability = false %}
{% assign base_unit_min = 1 %}
{% assign display_unit = '' %}
{% assign inStock = '' %}
{% for tag in product.tags %}
  {% if tag contains 'base_unit_min' %}
    {% assign base_unit_min = tag | replace:'base_unit_min_' | plus: 0 %}
  {% elsif tag contains 'display_unit' %}
    {% assign display_unit = tag | replace:'display_unit_' %}
  {% elsif tag contains 'base_unit_' %}
    {% assign base_unit = tag | replace:'base_unit_' %}
  {% endif %}
{% endfor %}
{% assign new_price = product.selected_or_first_available_variant.price | times:base_unit_min %}
{% assign new_comp_price = product.selected_or_first_available_variant.compare_at_price | times:base_unit_min %}
{% assign display_base_msg = '' %}
{% if display_unit == 'meter' %}
  {% assign display_base_msg = display_unit %}
{% elsif display_unit == 'piece' %}
  {% assign piece_text = 'piece of Meter' %}
  {% for tag in product.tags %}
    {% assign unit_tag = tag | slice: 0, 5 %}
    {% if unit_tag ==  "unit_"%}
      {% assign piece_text = tag | remove: 'unit_' %}
    {% endif %}
  {% endfor %}
  {% assign display_base_msg = piece_text %}
{% endif %}
{% assign inStock = product.first_available_variant.inventory_quantity | divided_by:base_unit_min %}
{% assign variantquantity = selected_variant.inventory_quantity | plus: 0 %}
{% assign selectedvariantavailability = false %}
{%- if variantquantity >= base_unit_min -%}
{% assign selectedvariantavailability = true %}
{% endif %}
{% assign material_found = false %}
{% for tag in product.tags %}
  {% if tag contains 'generic-name_' %}
    {% assign material_found = true %}
    {% assign material_tag = tag | replace:'generic-name_','' %} 
    {% break %}
  {% endif %}
{% endfor %}
<div class="product-item-block-wrap" data-tag="{{ mm2_tab_titleval }}">
  <div class="img">
    {%- if product.featured_image.src != blank -%}
      <a class="img-block" href="{{ product.url }}" tabindex="0" title="{{ product.title }}">
        {%- assign preload_src = true -%}
        {%- assign src_name = product.featured_image.src -%}
        {%- assign src_alt = product.title | escape  -%}
        {%- render 'srcset', src_name:src_name, src_alt:src_alt, preload_src:false -%}
      </a>
    {%- endif -%}
  </div>
  <div class="product-item-block-details">
    <h4 class="product-title">{{ product.title}}</h4>    
    <form method="post" action="/cart/add" id="{{ product.id }}" accept-charset="UTF-8" class="product-form" enctype="multipart/form-data">
      {% if material_found %}
        <input type="hidden" name="properties[_generic]" value="{{material_tag}}">
      {% endif %}    
      <div class="product-form__info-list">
        {% assign prod_instock =  product.first_available_variant.inventory_quantity | divided_by:base_unit_min | plus:0 %}
        {% assign prod_instock_last =  product.first_available_variant.inventory_quantity | modulo:base_unit_min | plus:0 %}
        {% assign unit_min = base_unit_min %}
        {% if display_unit == 'meter' %}
          {% assign unit_min = base_unit_min | plus:0.0 %}
        {% endif %}
        {% assign prod_instock_last =  prod_instock_last | divided_by:unit_min %}
        {% assign prod_instock = prod_instock | plus:prod_instock_last %}
        <input type="hidden" id="product_in_stock" value="{{prod_instock}} {{ display_unit }}"/>
        <div class="price-and-qty-wrap">
          {%- if new_comp_price > new_price -%}
            <span class="bebas-nue price price--highlight" data-money-convertible>{{ new_price | money }}</span>
            <span class="bebas-nue price price--compare" data-money-convertible>{{ new_comp_price | money }}</span>
          {%- else -%}
            <span class="bebas-nue price" data-money-convertible>{{ new_price | money }}</span>
          {%- endif -%}
          <div class="product-form__info-item product-form__info-item--quantity custom_qty_wrap">
            <label for="{{ section.id }}-{{ product.id }}-quantity" class="product-form__info-title text--strong">Qty</label>
            <div class="product-form__info-content">
              <div class="select-wrapper select-wrapper--small select-wrapper--primary">
                <input data-qty="{{base_unit_min}}" type="text" id="Quantity-{{ product.id }}-quantity" name="unit_quantity" value="{% if display_unit == "meter" %}1.0{% else %}1{% endif %}" min="1" class="product-form__quantity product-form__input unit_quantity {% if display_unit == 'piece' %}piece_input_qty{% endif %}" inputmode="text" pattern="\d*" data-display="{{display_unit}}" />
                {%- comment-%}<label>{{display_unit}}</label>{%- endcomment-%}
                <input type="hidden" name="id" data-sku="{{ selected_variant.sku }}" value="{{ selected_variant.id }}">
                <input type="hidden" name="properties[_display_unit]" value="{{display_unit}}"/>
                <input type="hidden" class="min_qty_input" name="properties[_base_unit_min]" value="{{base_unit_min}}"/>
                <input type="hidden" name="properties[_base_unit]" value="{{base_unit}}"/>
                <input type="hidden" name="quantity" data-base-unit-min="{{base_unit_min}}" value="{{base_unit_min}}" min="{{base_unit_min}}" class="actual_qty">
              </div>
            </div>
          </div>
        </div>
        <div class="add_to_cart_wrap">
          {%- if selectedvariantavailability -%}
            <button type="button" class="product-form__add-button button button--primary" data-text="Adding...">{{ 'product.form.add_to_cart' | t }}</button>
          {%- else -%}
            <button type="button" class="product-form__add-button button button--disabled" disabled>{{ 'product.form.sold_out' | t }}</button>
          {%- endif -%}
        </div>
      </div>
    </form>
  </div>
</div>